.section-introduction {
  text-align: center;

}


.icon-panel {
  margin: 50px 0px;
  text-align: center;
  height: 200px;

  .icon-img {
    margin: 20px 0px;
    height: 200px;
  }
  .icon-text {
    font-size: 18px;
    line-height: 28px;
  }
}
