
$white: #ffffff;
$gray_lighten: #cccccc;
$gray_normal: #888888;
$gray_darken: #444444;

$purple_lighten: #8a84df;
$purple_normal: #9c008f;

$red_normal: #ff0000;

$fg_negative: $white;
$fg_positive: $purple_normal;

$bg_positive: $purple_normal;
$bg_negative: $white;
