  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <img src="{{ '/assets/images/smashing-logo-sm-positive.png' | prepend: site.url }}" alt="Smashing"  />

        </div>
        <div class="footer-menu col-md-offset-2 col-md-8 text-center">
          <br>
          <ul class="nav nav-pills nav-justified">
            <li><a href="/">Home</a></li>
            <li><a href="/#introduction">Introduction</a></li>
            <li><a href="/#getting-started">Getting Started</a></li>
            <li><a href="/#additional-widgets">Additional Widgets</a></li>
            <li><a href="/#support">Support</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-links container-fluid hide">
      <div class="row">
        <p class="text-spaced">
          <a href="#" class="pull-right">
            <i class="fa fa-twitter-square fa-3x"></i>
          </a>
          <a href="#" class="pull-right">
            <i class="fa fa-github-square fa-3x"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>

