
<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#introduction" class="navbar-link js-smoothscroll" title="Introduction" data-bypass="true">Introduction</a></li>
    <li><a href="#getting-started" class="navbar-link js-smoothscroll" title="Getting Started" data-bypass="true">Getting Started</a></li>
    <li><a href="#widgets" class="navbar-link js-smoothscroll" title="Additional Widgets" data-bypass="true">Additional Widgets</a></li>
    <li><a href="#support" class="navbar-link js-smoothscroll" title="Documentation" data-bypass="true">Documentation</a></li>
  </ul>
</div>

