<!-- getting started section -->
<section id="getting-started" class="section-getting-started">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h1 class="section-title">Getting Started</h1>
        <p class="section-subtitle"></p>
      </div>

      <div class="command-panel col-md-6">
        <h3 class="command-title">
          1. Install the gem
        </h3>
        <p class="command-description">
          Install the smashing gem from the command line
        </p>
        <p class="command-terminal">
          $ gem install smashing
        </p>
      </div>

      <div class="command-panel col-md-6">
        <h3 class="command-title">
          2. Generate a new project
        </h3>
        <p class="command-description">
          Use the command line to generate the new project scaffold
        </p>
        <p class="command-terminal">
          $ smashing new sweet_dashboard_project
        </p>
      </div>


      <div class="command-panel col-md-6">
        <h3 class="command-title">
          3. Access generated directory
        </h3>
        <p class="command-description">
          Change your directory to <code>sweet_dashboard_project</code> and bundle gems
        </p>
        <p class="command-terminal">
          $ bundle install
        </p>
      </div>

      <div class="command-panel col-md-6">
        <h3 class="command-title">
          4. Start the server
        </h3>
        <p class="command-description">
          Type the command to start server and access address
          <a href="//localhost:3030/" target="_blank">http://localhost:3030</a>
        </p>
        <p class="command-terminal">
          $ smashing start
        </p>
      </div>

    </div>
  </div>
</section>

