<!-- introduction section -->
<section id="introduction" class="section-introduction">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h1 class="section-title">Introduction</h1>
        <p class="section-subtitle">
          Smashing is a Sinatra based framework that lets you build beautiful dashboards. This project is a fork of Dashing, an excellent framework created at Shopify for displaying custom dashboards on TVs around the office
        </p>
      </div>

      <div class="icon-panel col-md-4">
        <img src="{{ '/assets/images/icons/icon-01.png' | prepend: site.url }}" class="icon-img"  />
        <p class="icon-text">
          Use premade widgets, or fully create your own with scss, html, and coffeescript
        </p>
      </div>

      <div class="icon-panel col-md-4">
        <img src="{{ '/assets/images/icons/icon-02.png' | prepend: site.url }}" class="icon-img"  />
        <p class="icon-text">
          Widgets harness the power of data bindings to keep things DRY and simple
        </p>
      </div>

      <div class="icon-panel col-md-4">
        <img src="{{ '/assets/images/icons/icon-03.png' | prepend: site.url }}" class="icon-img"  />
        <p class="icon-text">
          API to push data to your dashboards
        </p>
      </div>

      <div class="icon-panel col-md-4">
        <img src="{{ '/assets/images/icons/icon-04.png' | prepend: site.url }}" class="icon-img"  />
        <p class="icon-text">
          Simple Ruby DSL for fetching data from databases or online resources
        </p>
      </div>

      <div class="icon-panel col-md-4">
        <img src="{{ '/assets/images/icons/icon-05.png' | prepend: site.url }}" class="icon-img"  />
        <p class="icon-text">
          Drag & Drop interface for re-arranging your widgets
        </p>
      </div>

      <div class="icon-panel col-md-4">
        <img src="{{ '/assets/images/icons/icon-06.png' | prepend: site.url }}" class="icon-img"  />
        <p class="icon-text">
          Host your dashboards on Heroku in less than 30 seconds
        </p>
      </div>
    </div>
  </div>
</section>

