<!-- additional widgets section -->
<section id="widgets" class="section-additional-widgets">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h1 class="section-title">Additional Widgets</h1>
        <p class="section-subtitle">Some of our most popular and fantastic additional widgets that you can use in your smashing dashboard</p>
      </div>

      <div class="col-md-6">
        <div class="widget-panel">
          <h3 class="widget-title">Twitter Mentions <small>VanessaH</small></h3>
          <p class="widget-description">Scrolls through Twitter Mentions<p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="widget-panel">
          <h3 class="widget-title">StatusPage.io <small>by Warren Guy</small></h3>
          <p class="widget-description">Display status of a service using the StatusPage.io status
          page service. e.g. Linode, New Relic, Travis CI, and many others</p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="widget-panel">
          <h3 class="widget-title">StatusPage.io <small>by Warren Guy</small></h3>
          <p class="widget-description">Display status of a service using the StatusPage.io status
          page service. e.g. Linode, New Relic, Travis CI, and many others</p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="widget-panel">
          <h3 class="widget-title">Twitter Mentions <small>VanessaH</small></h3>
          <p class="widget-description">Scrolls through Twitter Mentions<p>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <a href="https://github.com/Smashing/smashing/wiki/Additional-Widgets" target="_blank"
          class="btn btn-primary btn-block btn-lg">
          See complete list of widgets
        </a>
      </div>
    </div>
  </div>
</section>

