<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">

  <title>{{ site.title }}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="author" content="Smashing Community @ Users">

  <!--[if lt IE 9]>
    <script src="{{ '/assets/javascript/vendors/html5shiv.js' | prepend: site.url }}"></script>
  <![endif]-->
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ '/assets/stylesheets/application.css' | prepend: site.url }}">

</head>
<body>
  {% include header.html %}
  {{ content }}
  {% include footer.html %}

  <!-- scripts -->
  <script src="{{ '/assets/javascript/vendors/jquery@2.2.4.js' | prepend: site.url }}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="{{ '/assets/javascript/application.js' | prepend: site.url }}"></script>
</body>
</html>

